* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: linear-gradient(to right, #2f00ff, #000); 
  --text-color: lightblue;
  --text: white;
  --hover-bg: rgba(0, 0, 0, 0.8); /* Background color on hover */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}

.header.sticky {
  background: var(--hover-bg);
}

.logo {
  font-size: 2.5rem;
  color: var(--text);
  font-weight: 600;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}
  
#search-input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f3f1f1;
    border-radius: 15px;
    outline: none;
    border: none;
}
    

#search-results {
   list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute; 
    top: 100%;
    width: 15%;
    background: var(--bg-color);
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

#search-results li {
    padding: 10px;
    background:var(--bg-color);
    cursor: pointer;
    color: white;
    font-size: 15px;
}

#search-results li:hover {
    background-color: #e0e0e0;
}
  
  
  .navbar {
    position: relative;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul li {
    position: relative;
  }
  
  .navbar ul li a {
    font-size: 1.5rem;
    color: var(--text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-left: 3.5rem;
    padding: 1rem 1.5rem;
    transition: 0.3s;
    background: transparent;
    border-radius: 5px;
    position: relative;
    z-index: 1;
  }
  
  .navbar ul li a:hover,
  .navbar ul li a.active {
    background: var(--hover-bg);
    color: lightgray;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: var(--bg-color);
    width: 100%;
    transition: background 0.3s ease-in-out;
  }
  
  .navbar ul li:hover .dropdown {
    display: block;
  }
  
  .dropdown ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem 0;
  }
  
  .dropdown ul li {
    padding-bottom: 15px;
    
  }
  
  .dropdown ul li a {
    color: var(--text);
    font-size: 1.4rem;
    text-align: center;
  }
  
  #menu-icon {
    font-size: 3.6rem;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  @media (min-width: 360px) and (max-width: 500px) {
    #menu-icon {
        display: block;
    }
  
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background: var(--bg-color);
        z-index: 1;
        transition: 0.25s ease;
        flex-direction: column;
        padding: 2rem;
    }
  
    .navbar.active {
        left: 0;
    }
  
    .navbar ul {
        flex-direction: column;
        width: 100%;
        text-align: left;
    }
  
    .navbar ul li {
        margin-bottom: 1rem;
    }
  
    .navbar ul li a {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2rem;
        margin: 0;
        padding: 1rem;
        width: 100%;
    }
  
    .dropdown {
        position: relative;
        left: 0;
        top: 0;
        background: var(--hover-bg);
    }
  
    .dropdown ul {
        padding: 0;
    }
  
    .dropdown ul li {
        padding: 1rem;
    }
  }

  .section1{
    background: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url(/assets/LivingRoom1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
    width: 100vw;
    height: 88vh;
  }

  .section1 h1{
    color: white;
    padding-top: 250px;
    font-size: 50px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .section2 h1{
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .section3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 150px;
    margin-top: 70px;
    margin-left: 120px;
    width: 80vw;
  }

  .section3 img{
    width: 600px;
    height: 430px;
  }

  .text{
    padding-left: 30px;
    padding-top: 70px;
  }

  .text h1{
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .text p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }

  @media (max-width: 768px){
    .section3{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 150px;
      margin-top: 70px;
      margin-left: 50px;
      width: 80vw;
    }

    .section3 img{
      width: 600px;
      height: 380px;
      padding-right: 290px;
    }

    .text{
      padding-left: 0;
      padding-top: 70px;
      padding-right: 50px;
    }
  }

  .section4{
    margin-top: 50px;
  }

  .section4 h1{
    text-align: center;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 40vh;
    display: block;
    border-radius: 10px;
}

.gallery-item-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

footer {
  width: 100%;
  position: relative; /* change from absolute to relative */
  background: var(--bg-color);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  line-height: 20px;
  margin-top: 210px;
}

.row {
  width: 85%;
  max-width: 1200px; /* Limit maximum width */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
#log{
  margin-top:-5% ;

}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2), .col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 100px;
  margin-top: 20px; /* Adjust margin for smaller screens */
}

.col h3 {
  margin-bottom: 20px;
  position: relative;
}

.email-id {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}
#hr{
  border: 0;
  border-bottom: 2px solid #ccc;
  margin: 20px auto;
  margin-left: 5px;

}

ul li {
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #ccc;
}

form {
  margin-bottom: 30px; /* Adjust margin for smaller screens */
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
      left: -20px;
  }
  100% {
      left: 100%;
  }
}

@media (max-width: 900px) {
  .row {
      justify-content: center;
  }
}

@media (max-width: 700px) {
  .col {
      flex-basis: 45%; /* Adjust column width for smaller screens */
      text-align: center;
  }
}

@media (max-width: 500px) {
  .col {
      flex-basis: 100%; /* Full width for smallest screens */
      margin-bottom: 30px;
  }

  .logo {
      width: 60px;
  }

  .underline {
      top: 20px;
  }
  #col2{
      margin-left: -10%;
  }
  #col1{
      margin-left: 30%;
  }
}